@media print {
  html {
    font-size: 20px;
  }
  .container {
    width: auto;
  }
  .m-buttons,
  .m1830-solution,
  .m1830-answer,
  .m1830-hw-solution,
  .m1830-hw-answer,
  .add-resources {
    display: none;
  }
  .m1830-problem {
    margin-bottom: 60px;
  }

  .page-break-before{
    page-break-before: always;
  }
  .page-break-after{
    page-break-after: always;
  }
}

ol li ol{
  list-style-type: lower-alpha; 
}